<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyzer</title>
</head>
<body>
    <p>Data Analyzer</p>
    <input id="num-input" type="text">
    <button id="send-button">Send Request</button>


    <script type="module" src="/static/app.js"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='app.js') }}"></script> -->

    
</body>
</html>